*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

#root {
  margin: 0 auto;
  width: 90vw;
  min-height: 100vh;
  display: grid;

  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 15rem 1fr;
  gap: 3rem;
}
